가능하면 코드 추상화를 해주세요.
vue 3을 사용해주세요.
기능별 컴포너트를 구분하고 폴더 구분도 해주세요.
Composition API 스타일로 코드 작성하세요.
기능이 비슷한 것은 모듈화하여 1개의 함수로 여러 곳에서 사용하도록 해주세요.
TypeScript 사용 금지.
광범위하게 사용되는 기능이나 변수나 이런것들의 이름은 명확하게 지어주세요.
현재 구현되어 있는 기능을 수정이나 코드 생성을 위해 없어져야하는 것이 아니면 없애지마세요.
css이나 스타일도 처음 구현된 스타일을 변경하지말고 추가/수정만 해주세요.

; 데이터가 있는 서버에서 api통신으로 데이터를 가져온다는 상황으로 코드 작성해주세요.
